/* ------------- */
/* Custom properties */
/* ------------- */

:root {
    /* color palette */
    --clr-black: 0 0% 4%;
    --clr-white: 0 0% 96%;
    --clr-light-grey: 0 4% 95%;
    --clr-lime: 80 79% 54%;

    /* font sizes */
    --fs-xxl: 3rem;
    --fs-xl: 2.3rem;
    --fs-large: 1.4rem;
    --fs-medium: 1.125rem;
    --fs-regular: 1rem;
    --fs-base: 0.875rem;
    --fs-small: 0.7rem;

    /* font weights */
    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 600;


    /* font family */
    --ff-primary: "Barlow", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-headings: var(--ff-primary);

    /* font sizes for particular elements */

    --fs-body: var(--fs-regular);

    --fs-primary-heading: var(--fs-xxl);
    --fs-section-heading: var(--fs-xl);
    --fs-midsection-heading: var(--fs-large);
    --fs-quote-text: var(--fs-xl);
    --fs-sidebar-heading: var(--fs-regular);

    --border-width: 1px;
    --border-style: solid;
    --border-color: hsl(var(--clr-light-grey));
}

/* tablet devices */
@media (min-width: 48em) {
    :root {
        --fs-xxl: 4rem;
        --fs-xl: 2rem;
        --fs-large: 1.4rem;
        --fs-medium: 1.125rem;
        --fs-regular: 1rem;
        --fs-base: 0.875rem;
        --fs-small: 0.7rem;

    }
}

/* desktop/laptop devices */
@media (min-width: 64em) {
    :root {
        --fs-xxl: 4rem;
        --fs-xl: 2.8rem;
        --fs-large: 1.4rem;
        --fs-medium: 1.3125rem;
        --fs-regular: 1.125rem;
        --fs-base: 1rem;
        --fs-small: 0.875rem;
    }
}


/* ------------- */
/* Reset        */
/* https://piccalil.li/blog/a-modern-css-reset  */
/* ------------- */


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.7;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-black));
    font-family: var(--ff-body);
}


a,
link {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}



/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

/* ------------- */
/* Utility */
/* ------------- */
.full-width {
    width: 100%;
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    margin: 0 auto;
    max-width: 1280px;
}

.uppercase {
    text-transform: uppercase;
}

.primary-heading {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-regular);
}

.section-heading {
    font-size: var(--fs-section-heading);
    font-weight: var(--fw-regular);
}

.midsection-heading {
    font-size: var(--fs-midsection-heading);
    font-weight: var(--fw-bold);
}

.bold-list-heading {
    font-size: var(--fs-sidebar-heading);
    font-weight: var(--fw-bold);
}

.text-accent {
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
}

.small {
    font-size: var(--fs-small);
    color: hsl(var(--clr-light-grey)/ 0.4);
}

.mail {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.about-note {
    align-self: center;
    align-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icon-wrapper {
    text-align: center;
}

.footer-icon-wrapper a img {
    width: 50px;
    opacity: 0.5;
}

.rotate {
    transform: rotate(90deg);
}


.ls-200 {
    letter-spacing: 2.5px;
}


.padding-bottom-30 {
    padding-bottom: 2rem;
}

.padding-top-special {
    padding: 0;
}

.padding-top-30 {
    padding-top: 2rem;
}

.padding-bottom-100 {
    padding-bottom: 6.25rem;
}

.padding-top-100 {
    padding-top: 6.25rem;
}

.padding-top-150 {
    padding-top: 9.375rem;
}

.padding-top-200 {
    padding-top: 12.5rem;
}

.padding-bottom-200 {
    padding-bottom: 12.5rem;
}



.col-1-span-5,
.col-5-span-5,
.col-2-span-2,
.col-2-span-4,
.col-2-span-6,
.col-2-span-3,
.col-6-span-4,
.col-6-span-5,
.col-6-span-6,
.col-7-span-4,
.col-9-span-2 {
    grid-column: 2 / span 10;

}


.portfolio-item {
    padding: 2px;
}

.outline-left {
    border-left: var(--border-width) var(--border-style) var(--border-color);
}

.outline-right {
    border-right: var(--border-width) var(--border-style) var(--border-color);
}

.outline-bottom {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.outline-top {
    border-top: var(--border-width) var(--border-style) var(--border-color);
}


.hero-link-wrapper {
    max-width: 450px;
}

.flex {
    display: flex;
    justify-content: space-between;

}



.side-arrow {
    display: none;
}

.side-menu {
    display: block;
    position: relative;
}

.side-arrow>p {
    position: absolute;
    top: 40%;
    width: 17ch;

}

.side-arrow>.social-media-icon-wrapper {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translateX(20%);
}



.v-flex {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;

}



@media (min-width: 768px) {

    .hero-img-mobile {
        display: none;
    }

    .padding-top-special {
        padding-top: 12rem;
    }

    .col-1-span-5 {
        grid-column: 1 / span 5;

    }

    .col-2-span-2 {
        grid-column: 2 / span 2;
    }

    .col-2-span-3 {
        grid-column: 2 / span 3;
    }

    .col-2-span-4 {
        grid-column: 2 / span 4;
    }

    .col-2-span-6 {
        grid-column: 2 / span 6;
    }

    .col-5-span-5 {
        grid-column: 5 / span 5;
    }

    .col-6-span-5 {
        grid-column: 6 / span 5;
    }

    .col-6-span-4 {
        grid-column: 6 / span 4;
    }

    .col-6-span-4>.about-note {
        align-self: center;
    }


    .col-6-span-6 {
        grid-column: 6 / span 6;
    }

    .col-7-span-4 {
        grid-column: 7 / span 4;
    }

    .col-9-span-2 {
        grid-column: 9 / span 2;
    }

    .col-side-end {
        grid-column: 12;
    }

    .hero-img {
        width: 500px;
        height: 500px;

        background-size: cover;
        transition: background-image 0.3s ease-in-out;
        background-image: url("images/dd_hero_img_face.png");
    }

    .hero-img:hover {
        background-image: url("images/dd_hero_graphic.png");
    }

    .side-arrow {
        display: block;
        position: relative;
    }

    .side-arrow>p {
        position: absolute;
        top: 40%;
        width: 17ch;

    }

    .side-arrow>img {
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translateX(20%);
    }

    .bold-list-flex {
        padding-top: 18rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        line-height: 1;
    }

    .mail {
        font-size: var(--fs-xl);
        font-weight: var(--fw-regular);
        text-transform: none;
    }


}

@media (min-width: 1024px) {
    .side-arrow {
        display: block;
        position: relative;
    }

    .side-arrow>p {
        position: absolute;
        top: 40%;
        width: 20ch;

    }

    .side-arrow>img {
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translateX(30%);
    }

    .bold-list-flex {
        padding-top: 17rem;
    }

}

@media (min-width: 1280px) {

    .side-arrow>img {
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translateX(5%);
    }

    .bold-list-flex {
        padding-top: 14.5rem;
    }

}

/* ------------- */
/* Animation */
/* ------------- */

/* Thanks to Temani Afif  */
/* https://dev.to/afif/a-scalable-css-only-typewriter-effect-2opn */

.typewriting {
    display: inline-block;
}

.typewriting>span {
    display: grid;
    overflow: hidden;
    height: 1.7em;
}

.typewriting span span {
    width: 0%;
    max-width: max-content;
    overflow: hidden;
    height: inherit;
    word-break: break-all;
    vertical-align: bottom;
    animation:
        c 0.5s infinite steps(1),
        t 2s linear infinite alternate,
        m 16s steps(4) infinite;
}

.type span span::before {
    content: " ";
    display: inline-block;
}

@keyframes t {

    90%,
    100% {
        width: 100%
    }
}

@keyframes c {

    0%,
    100% {
        box-shadow: 5px 0 0 #0000
    }

    50% {
        box-shadow: 5px 0 0 hsl(var(--clr-lime));
    }
}

@keyframes m {
    100% {
        transform: translateY(-400%)
    }
}